
<md-card class="cardmar">
    <md-card-content>
        <div *ngIf="!name; else forminfo">
            <h2 class="notification-h2"><i class="material-icons">add</i> Add user</h2>

            <form [formGroup]="addEntityForm" (ngSubmit)="postAddEntity(addEntityForm.value)">

                <md-select placeholder="Entity type" formControlName="selectedValue" name="food">
                    <md-option *ngFor="let type of entityTypes" [value]="type.value">
                        {{type.viewValue}}
                    </md-option>
                </md-select>



                <table class="notification-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <md-form-field class="notification-full-width">
                                <input mdInput placeholder="Name" formControlName="name">
                            </md-form-field>
                        </td>
                        <td>
                            <md-form-field class="notification-full-width">
                                <input mdInput placeholder="Surname" formControlName="surname">
                            </md-form-field>
                        </td>
                        </tr>
                    <tr>
                        <td>
                            <md-form-field class="notification-full-width">
                                <input mdInput placeholder="Email" formControlName="email">
                            </md-form-field>
                        </td>   <td>
                            <md-form-field class="notification-full-width">
                                <input mdInput placeholder="Unique Id" formControlName="UniqueId">
                                <md-hint align="start"><strong>Any unique number issue by goverment for example NI</strong> </md-hint>
                            </md-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <md-form-field>
                                <input mdInput [mdDatepicker]="picker" placeholder="Date of birth">
                                <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                                <md-datepicker #picker></md-datepicker>
                            </md-form-field>
                        </td>
                    </tr>
                </table>
                <div class='clearfix'></div>
                <p>
                    <md-form-field class="example-full-width">
                        <textarea mdInput placeholder="Address" formControlName="adddress"></textarea>
                    </md-form-field>
                    <md-form-field class="example-full-width">
                        <textarea mdInput placeholder="Address 2" formControlName="adddress2"></textarea>
                    </md-form-field>
                </p>

                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <md-form-field class="example-full-width">
                                <input mdInput placeholder="City" formControlName="city">
                            </md-form-field>
                        </td>
                        <td>
                            <md-form-field class="example-full-width">
                                <input mdInput placeholder="Country" formControlName="country">
                            </md-form-field>
                        </td>
                        <td>
                            <md-form-field class="example-full-width">
                                <input mdInput #postalCode maxlength="6" placeholder="Postal Code" value="" formControlName="postalCode">
                                <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
                            </md-form-field>
                        </td>
                    </tr>
                </table>
           
       
      
        <section class="notification-section">
            <md-checkbox class="notification-margin" formControlName="dsg">DSG</md-checkbox>
            <md-checkbox class="notification-margin" formControlName="it">IT</md-checkbox>
            <md-checkbox class="notification-margin" formControlName="ags">AGS</md-checkbox>
        </section>
        

        <label class="example-margin">Period:</label>
        <section class="notification-section">
            <md-radio-group formControlName="occurrence" labelPosition="before">
                <md-radio-button class="notification-margin" value="daily">Daily</md-radio-button>
                <md-radio-button class="notification-margin" value="weekly">Weekly</md-radio-button>
            </md-radio-group>
        </section>
      

        <button md-raised-button (click)="cancelBack()"><i class="material-icons">cancel</i>Cancel</button>
        <button md-raised-button color="warn" type="submit" value="Submit Form" [disabled]="!addEntityForm.valid"><i class="material-icons">save</i>Add</button>
        </form>

        </div>
        <ng-template #forminfo>
            Success of submit
        </ng-template>
    </md-card-content>
</md-card>
