<h1>Counter</h1>

<p>This is a simple example of an Angular component.</p>

<p>Current count: <strong>{{ currentCount }}</strong></p>

<button md-raised-button class="myButton" (click)="incrementCounter()" [@hoverAnimation]>Increment</button>
<button md-fab class="myButton" (click)="incrementCounter()" [@hoverAnimation]>Increment</button>
<button md-icon-button class="myButton" (click)="incrementCounter()" [@hoverAnimation]>Increment</button>

<button md-icon-button>
    <md-icon class="md-24" aria-label="Example icon-button with a heart icon">favorite</md-icon>
</button>

<button md-icon-button>
        <i class="material-icons">pan_tool</i>
    </button>
