<div>userform Component</div>

<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../../../wwwroot/img/profilepic.png" alt="Add here user name">
    <mat-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </p>

        <div *ngIf="!name; else forminfo">
            <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Name"  formControlName="name">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="State">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
                                <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
                <h1>My Reactive Form</h1>
                <table>           
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Name" formControlName="name">
                            </mat-form-field>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <mat-form-field class="demo-full-width">
                                <textarea matInput placeholder="description" formControlName="description">text text</textarea>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="validate">Minimum of 3 Characters</label>
                            <input type="checkbox" name="validate" formControlName="validate" value="1"> On
                        </td>
                        <td>   
                            <button  mat-raised-button color="warn" type="submit" value="Submit Form" [disabled]="!rForm.valid" >Submit Form</button>
</td>
                    </tr>
                </table>
            </form>
        </div> 

        <ng-template #forminfo>
            <div class="form-container">
                <div class="row columns">
                    <h1>{{ name }}</h1>

                    <p>{{ description }}</p>
                </div>
            </div>
        </ng-template>

    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>
