<div style="border: 1px solid red">addform Component</div>
<div class="example-container">
    <mat-card>
        <mat-card-content>
            <mat-form-field>
                <input matInput placeholder="Title" [formControl]="title" [(ngModel)]="case.title" required>
                <mat-error *ngIf="title.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Created case" [(ngModel)]="case.date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <textarea matInput placeholder="note" [(ngModel)]="case.note"></textarea>
            </mat-form-field>
        </mat-card-content>
    </mat-card>
</div>