<mat-card class="cardmar">
    <mat-card-content>
        <h2 class="notification-h2"> Feedback</h2>

            <table class='table'>
                <thead>
                    <tr>
                        <th>SR</th>
                        <th>Title</th>
                        <th>Revision</th>
                        <th>Monitoring</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>235.1</td>
                        <td>Datenschutzgesetz</td>
                        <td>Art. xy : cc Text>></td>
                        <td>
                            <section class="notification-section">
                                <mat-checkbox class="notification-margin">Money Laundery</mat-checkbox>
                                <mat-checkbox class="notification-margin">Data Protection</mat-checkbox>
                                <mat-checkbox class="notification-margin">IT</mat-checkbox>
                            </section>
                        </td>
                    </tr>
                </tbody>
            </table>
</mat-card-content>
    <button mat-raised-button>Not sure</button>
    <button mat-raised-button>Comfirm</button>
</mat-card>
