<md-card class="cardmar">
    <md-card-content>
        <h2 class="notification-h2"> Feedback</h2>

            <table class='table'>
                <thead>
                    <tr>
                        <th>SR</th>
                        <th>Title</th>
                        <th>Revision</th>
                        <th>Monitoring</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>235.1</td>
                        <td>Datenschutzgesetz</td>
                        <td>Art. xy : cc Text>></td>
                        <td>
                            <section class="notification-section">
                                <md-checkbox class="notification-margin">Money Laundery</md-checkbox>
                                <md-checkbox class="notification-margin">Data Protection</md-checkbox>
                                <md-checkbox class="notification-margin">IT</md-checkbox>
                            </section>
                        </td>
                    </tr>
                </tbody>
            </table>
</md-card-content>
    <button md-raised-button>Not sure</button>
    <button md-raised-button>Comfirm</button>
</md-card>
