<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <!--<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--<a class='navbar-brand' [routerLink]="['/home']"><img src="../../../../wwwroot/img/logo.png"  height="94" width="181"></a>-->
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']">
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <!--<li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']">
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-data']">
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/input-data']">
                        <span class='glyphicon glyphicon-th-list'></span> Input data
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/app-tabs']">
                        <span class='glyphicon glyphicon-th-list'></span> tabs
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/app-userform']">
                        <span class='glyphicon glyphicon-th-list'></span> User Form
                    </a>
                </li>-->
                
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/app-addentity']">
                        <span class='glyphicon glyphicon-th-list'></span> Add entity
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/app-tabs']">
                        <span class='glyphicon glyphicon-th-list'></span> tabs
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/app-validationsc']">
                        <span class='glyphicon glyphicon-th-list'></span>Validator check 
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/app-notification']">
                        <span class='glyphicon glyphicon-th-list'></span>Notification
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/app-listentity']">
                        <span class='glyphicon glyphicon-th-list'></span>show list
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/app-search']">
                        <span class='glyphicon glyphicon-th-list'></span>search
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
